{
  "plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
  "overrides": [
    {
      "files": "*.svelte",
      "options": {
        "parser": "svelte",
        "bracketSameLine": true,

        "svelteBracketNewLine": false,
        "semi": true,
        "proseWrap": "never",
        "experimentalTernaries": true
      }
    }
  ]
}
